.starship-container {
  gap: 0.75rem;
  width: 1200px;
  padding-right: 3rem;
  }
  
  .starship-container h2 {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
    color: white;
  }
  
  .starship-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  height: 290px;
  align-self: stretch;
  }
  
  
  .starship-list li {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  
  }
  
  .starship-list li p {
    margin: 5px 0;
    margin-right: 5rem;
    background: #344064;
  }
  .menu{
  display: flex;
  border-radius: 6px;
  background: rgba(249, 250, 253, 0.20);
  }
  
  
  
  .starship-img {
    border-radius: 8px;
    width: 100%;
    height: 10rem;
  }
  .starship.list:hover{
    transition: 0.5s all;
    scale: 0.5rem;
  }
  
  
  
  
  .starship-item {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  

  button{
    background-color: white;
  }
  
  
  .list-item{
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  
  
    /* Media Queries for responsiveness */
    @media screen and (min-width: 768px) {
      .starship-list {
        grid-template-columns: repeat(2, 1fr); /* Show two columns on screens wider than 768px */
      }
    }
    
    @media screen and (min-width: 1024px) {
      .starship-list {
        grid-template-columns: repeat(3, 1fr); /* Show three columns on screens wider than 1024px */
      }
    }
    
    
  