.planet-container {
  gap: 0.75rem;
  width: 1200px;
  padding-right: 3rem;
  }
  
   h2 {
    font-size: 1.5rem;
    margin-bottom: 0.225rem;
    color: white;
  }
  
  .planet-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  height: 290px;
  align-self: stretch;
  }
  
  
  .planet-list li {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #dedede;

  
  }
  
  .planet-list li p {
    margin: 5px 0;
    margin-right: 5rem;
  }
  .menu{
  display: flex;
  border-radius: 6px;
  background: rgba(249, 250, 253, 0.20);
  }
  
  
  
  .planet-img {
    border-radius: 8px;
    width: 100%;
    height: 10rem;
  }
  
  .flex-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  
  button{
    background-color: white;
  }
  
    
  .film-reel{
    display: flex;
    padding: 12px 12px 12px 16px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    gap: 15px;
    align-self: stretch;
    background: rgba(249, 250, 253, 0.20);
    color: white;
    border-radius: 0.5rem;
    }
    
    .film-reel img {
      background-color:  #344064;;
    }



    /* Responsive media queries */

/* For devices with a maximum width of 768px (e.g., smartphones) */
@media (max-width: 768px) {
  .planet-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .planet-img {
    height: 8rem;
  }
  
  
  .planet-container {
    padding: 1rem;
  }
  
  .planet-list li {
    margin: 5px; 
  }
  
  .flex-item {
    flex-direction: column; 
    gap: 1rem;
  }
  
  .film-reel {
    flex-wrap: wrap;
  }
}
