.films-container {
gap: 0.75rem;
width: 1200px;
padding-right: 3rem;
}

.films-container h2 {
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
  color: white;
}

.films-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
height: 290px;
align-self: stretch;
}


.films-list li {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

}

.films-list li p {
  margin: 5px 0;
  margin-right: 5rem;
  background: #344064;
}
.menu{
display: flex;
border-radius: 6px;
background: rgba(249, 250, 253, 0.20);
}



.film-img {
  border-radius: 8px;
  width: 100%;
  height: 10rem;
}
.film.list:hover{
  transition: 0.5s all;
  scale: 0.5rem;
}





.film-reel{
display: flex;
padding: 12px 12px 12px 16px;
justify-content: space-between;
align-items: center;
flex: 1 0 0;
gap: 15px;
align-self: stretch;
background: rgba(249, 250, 253, 0.20);
color: white;
border-radius: 0.5rem;
}


.flex-item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn{
  display: inline-flex;
  height: 32px;
  align-items: center;
  padding-left: 0.4rem;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #DEDEDE;
  gap: 0.5rem;
  font-size: 1rem;
}


.list-item{
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}



/* table-css */

.table-container{
width: 1143px;
background: #4D5875;
margin-top: 0.5rem;
border-radius: 0.5rem;
}

.tr-table{
color: white;
padding-bottom: 2rem;
height: 54px;
padding: 0px 16px;
align-items: center;
gap: 10px;
align-self: stretch;
outline: none;
}
.table-list th{
  background-color: #344064;
color: white;
justify-content: flex-start;
}
 th{
  padding: 1rem;
 }
 td{
  display: table-cell;
  vertical-align: inherit;
  padding-left: 1rem;
 }

 .tr-table img{
 
margin-left: 1.3rem;
margin-top: 0.5rem;
  
}
.table-img{
  margin-right: 1rem;
  margin-top: 10rem;
}


 @media (max-width: 768px) {
  .films-list {
    grid-template-columns: repeat( 1fr);
    height: auto;
  }

  .film-img {
    height: 8rem;
  }

  .menu {
    flex-direction: column;
  }

  .btn {
    font-size: 0.9rem;
  }

  .table-list th,
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


@media (max-width: 768px) {
  .films-list {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
  }

  .film-img {
    height: 8rem;
  }

  .menu {
    flex-direction: column;
  }

  .btn {
    font-size: 0.9rem;
  }

  .table-list th,
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


@media (max-width: 768px) {
  .table-container {
    max-width: none;
    overflow-x: hidden; 
    margin: 0.5rem 1rem; 
  }
  
  .tr-table {
    padding: 0.5rem;
  }
  
  .table-list th,
  td {
    padding: 0.5rem; 
  }

  .table-img {
    margin-right: 0; 
    margin-top: 0; 
    width: 100%; 
    max-width: 100px; 
    height: auto; 
  }
}

@media (max-width: 600px) {
  .films-list {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }
}








