.layout{
display: flex;
width: 100wh;
padding: 20px;
justify-content: space-between;
align-items: center;
}
.logo{
    width: 72px;
    height: 36px;
    flex-shrink: 0;
    
  }
.search-input{
width: 160px;
height: 32px;
padding: 4px 8px;
gap: 8px;
border-radius: 10px;
border: 1px solid var(--white-1, #FFF);
background: rgba(255, 255, 255, 0.00);
display: flex;
width: 216px;
height: 32px;
padding: 4px 8px;
align-items: center;
gap: 8px;
}
input{

   color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  outline: none;
  border: none;
}
input::placeholder{
color: var(--white-1, #FFF);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.5px;
}
