.home-content {
    display: flex;
    width: 695px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 12px;
    border: 2px solid #E0E6ED;
    background: #FFF;
    box-shadow: 0px 7px 34px 0px rgba(23, 23, 37, 0.25);


}

.home-img {
    width: 647px;
    height: 218px;
    border-radius: 10rem;


}

.home-title {
    color: #3B3F5C;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.14px;
    background-color: white;
}

.home-section {
    display: flex;
    width: 1143px;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.home-subtitle {
    background-color: white;
}